@using BOL;
@model Employee
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<hr />
<p> Full Name: <b>@Model.FirstName @Model.LastName</b> </p>
<p> Email Address: @Model.Email</p>
<p> Contact Number: @Model.ContactNumber</p>
<p> City: <u>@Model.City</u></p>